/* Diseño fondo, nav e icono */
body {
    background-color: #181818;
}

.Peliculas {
    background-color: #343434;
    border: 1px solid #aaaaaa;
}

.Icono{
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    position: relative;
    bottom: 60px;
}

.Icono-a{
    box-sizing: content-box;
    width: 20px;
}
/* ======================================================================================================== */
/* Diseña de links */

[href] {
    color: #4285f4;
    text-decoration: none;
}

a > span {
    color: red;
}

.Gmail {
    text-decoration: underline;
}

li {
    color: white;
    position: relative;
    bottom: 180px;
    height: 30px;
}

.Linea {
    text-decoration: underline solid #f06363;
    text-underline-position: under;
}

aside{
    float: right;
    position: relative;
    right: 290px;
    bottom: 5px;
}


/* ========================================================================================================== */
/* Diseño de titulo */

.Titulo {
    position: relative;
    left: 365px;
    top: 0px;
    height: 300px;
    margin: 0px;
    border: 0px;
}

h1 {
    text-decoration: underline solid #f06363;
}

h4 {
    box-sizing: content-box;
    width: 500px;
}

h3,
h4 {
    position: relative;
    left: 170px;
    bottom: 273px;
}

.P-Peliculas {
    position: relative;
    left: 460px;
}

.P-Tribute {
    position: relative;
    left: 225px;
    box-sizing: border-box;
    width: 900px;
}

.P-Abuelo {
    position: relative;
    left: 400px;
    box-sizing: content-box;
    width: 500px;
}

p,
h3,
h4,
h5,
h1 {
    color: white;
}

h3,
h4,
h5,
h1 {
    box-sizing: border-box;
    width: 600px;
}

h5 {
    text-decoration: underline solid #f06363;
    text-underline-position: under;
}

.Titulo-p-1,
.Titulo-p-2,
.Titulo-p-3,
.Titulo-p-5,
.Titulo-p-6,
.Titulo-p-9,
.Titulo-p-10,
.Titulo-p-11,
.Titulo-p-12,
.Titulo-p-13 {
    position: relative;
    left: 400px;
    box-sizing: content-box;
    width: 500px;
    text-decoration: underline solid #f06363;
}

.Titulo-p-4 {
    position: relative;
    left: 200px;
    box-sizing: content-box;
    width: 600px;
    text-decoration: underline solid #f06363;
}

.Titulo-p-7,
.Titulo-p-8 {
    position: relative;
    left: 330px;
    box-sizing: content-box;
    width: 600px;
    text-decoration: underline solid #f06363;
}

/* ================================================================================================================= */
/* Diseño peliculas */

.B2 {
    border: 4px solid white;
    border-radius: 15px;
    width: 1000px;
    height: 350px;
    position: relative;
    left: 110px;
    margin: 20px;
    padding: 0px;
}

.A1,
.A2,
.A3,
.A4,
.A5,
.A6,
.A7,
.A8,
.A9,
.A10,
.A11,
.A12,
.A13 {
    padding: 5px;
    margin: 5px;
    box-sizing: content-box;
    width: 50px;
}

.B1 {
    position: relative;
    left: 170px;
    bottom: 273px;
    word-wrap: break-word;
    height: 100px;
    width: 800px;
    margin-left: 0px;
}

.Video {
    position: relative;
    bottom: 200px;
}

img {
    border: 1px solid white;
    position: relative;
    left: 10px;
}

/* ======================================================================================================================= */

.Top{
    color: white;
    padding: 1px;
    margin: 0px;
    border: 1px solid #1565c0;
    background-color: #1565c0;
    border-radius: 50%;
}

.Cosas{
  margin-top: 10px;  
}