:root {
    --Fondo: #181818;
    --Color-a: #35AEEE;
    --Hover: #F5B836;
    --borde: #7B1AAF;
    --Texto: #ffffff;
    --sub-linea: #B70D0D;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    background-color: var(--Fondo);
    background-image: url(../Imagenes/Fondo.png);
}

nav {
    display: flex;
    align-items: center;
    margin: 0rem;
    padding: 0rem;
    flex-direction: column;
    align-content: center;
}

.Border-p {
    position: relative;
    left: 15rem;
    border: 0.3rem solid var(--borde);
    border-radius: 5%;
    width: 105rem;
    height: 45rem;
}

a:hover {
    color: var(--Hover);
}


a {
    text-decoration: none;
    color: var(--Color-a);
}

p {
    position: relative;
    bottom: 26rem;
    left: 25rem;
    box-sizing: content-box;
    width: 70rem;
    color: var(--Texto);
}

.footer {
    position: relative;
    left: 20rem;
    top: 5rem;
    padding-bottom: 10rem;
    box-sizing: content-box;
    width: 100rem;
}

.Portada {
    position: relative;
    left: 5rem;
    top: 2rem;
}

h3,
h4 {
    position: relative;
    left: 25rem;
    bottom: 25rem;
    box-sizing: content-box;
    width: 50rem;
    color: var(--Texto);

}

.Abuelo {
    position: relative;
    left: 36rem;
}

.Tribute {
    position: relative;
    left: 20rem;
    box-sizing: content-box;
    width: 90rem;
}

.T123 {
    position: relative;
    left: 40rem;
}

h2 {
    position: relative;
    left: 40rem;
    text-decoration: underline;
    box-sizing: content-box;
    width: 60rem;
    margin: 1rem;
}

nav a {
    display: flex;
    align-items: center;
    margin: 0rem;
    padding: 0rem;
    flex-direction: column;
    align-content: center;
    text-decoration: underline solid var(--sub-linea);
    box-sizing: content-box;
    width: 50rem;
}

#Titulo {
    position: relative;
    left: 34rem;
    width: 70rem;
}

h2,
h3,
h4,
p,
a {
    font-family: 'Fuzzy Bubbles', cursive;
}

div {
    background-image: url(../Imagenes/fondoindex.png);
    background-color: var(--Fondo);
    background-position: center;
    background-size: 106rem;
    background-position-y: 11rem;
    background-position-x: 11rem;
}

a>span {
    position: relative;
    top: 0.6rem;
}