:root {
    --Fondo: #181818;
    --Color-a: #35AEEE;
    --Hover: #F5B836;
    --borde: #7B1AAF;
    --Texto: #ffffff;
    --sub-linea: #B70D0D;
    --flechas: #0FFF00;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    background-color: var(--Fondo);
    background-image: url(../Imagenes/Fondo.png);
}

h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline solid var(--sub-linea);
}

h1,
h3,
h4,
p {
    color: var(--Texto);
    font-family: 'Fuzzy Bubbles', cursive;
}

.Icono {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid var(--borde);
    border-radius: 5%;
    position: relative;
    bottom: 6rem;
    left: 1rem;
}

h3,
h4,
p {
    position: relative;
    left: 18rem;
    bottom: 25rem;
    box-sizing: content-box;
    width: 100rem;
    margin-top: 0rem;
}

aside>ol {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    bottom: 1rem;
}

ol li {
    padding-top: 1rem;
    color: var(--Texto);
}

a {
    color: var(--Color-a);
    text-decoration: underline solid var(--sub-linea);
}

a:hover {
    color: var(--Hover);
}

img {
    border: 0.1rem solid var(--borde);
}

iframe {
    position: relative;
    left: 35rem;
    bottom: 10rem;
}

div {
    position: relative;
    left: 40rem;
    border: 0.3rem solid var(--borde);
    width: 55rem;
    background-color: var(--Fondo);
    background-image: url(../Imagenes/sangre-1.png);
    background-position-y: 10rem;
    background-position-x: 28rem;
}

div>ol {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.Peli {
    position: relative;
    left: 70rem;
    bottom: 8rem;
}

.Cap {
    position: relative;
    left: 8rem;
    bottom: 10rem;
}

#Cap {
    box-sizing: content-box;
    width: 1em;
    height: 0rem;
    position: relative;
    left: 70rem;
    bottom: 30rem;
    font-size: 10rem;
}

#Peli {
    box-sizing: content-box;
    width: 1rem;
    height: 0rem;
    position: relative;
    top: 20rem;
    left: 6rem;
    font-size: 10rem;
}

p span {
    color: var(--flechas);
}